.main-menu img{
    width: 70px;
}

.banner_home{
    height:720px;
    width: auto;
    background-color:#04091e;
   
}

.bg-orange{
    margin-top:140px;
}


.drp a{
    color:black;
    width:50px;
}

